.content {
  margin: 0px 15px;
  padding: 12px;
  width: 100%;
  height: 85px;
  justify-content: space-around;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
}

.dateBox {
  width: 65px;
  height: 65px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #f2f1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .day {
    font-size: 16px;
    font-weight: bold;
  }
  .date {
    font-size: 14px;
  }
}

.detailBox {
  width: 230px;
  height: 65px;
  padding: 8px 10px 8px 5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  .title {
    font-size: 15px;
    font-weight: 500;
  }
  .etc {
    width: 80%;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .writtenby {
      color: #82827f;
      margin-right: 12px;
    }
    .line {
      width: 7px;
      margin-right: 7px;
      border: 0.8px solid;
    }
    .time {
      display: flex;
      justify-content: center;
      align-items: center;
      .clock {
        font-size: 13px;
      }
    }
  }
}

.imgBox {
  width: 65px;
  height: 65px;
  border-radius: 5px;
  overflow: hidden;
}
